.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.heading{
    width: 50%;
    padding-bottom: 50px;
}
.heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.heading h3 span{
    font-weight: 100;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.dream img{
    
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
.btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px; 
   
}
.btn a{
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 3px;

}


@media only screen and (max-width: 769px){
    .box{
        flex-direction: column;
    }
    .dream{
        width: 100%;
    }
}
@media only screen and (max-width: 642px){
    .heading{
        width: 100%;
    }
    .heading h3{
        font-size: 1em;
    }
}