.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.footer__rov {
    display: flex;
    justify-content: right;
    padding: 50px 0;
  }
  .footer__title {
    font-size: 40px;
    letter-spacing: 0.3em;

    font-family: "Play", sans-serif;
  font-weight: 500;
  font-style: normal;
  }
.footer__inner {
  min-height: 100;

  margin-bottom: 20px;
    
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.2em;
}
.footer__text {
    
  }

.footer__text_yellow {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: 0.3em;
  
  margin-bottom: 20px;

  padding: 20px 0;
}
.yellow_die_text {
  background-image: url(../image/линия.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}


.footer__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  gap: 150px;
  margin: 0 auto;
}
.footer__num{
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: 0.2em;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  gap: 200px;
}
.footer__social_item {
}

.footer__social_link {
}

.footer__social_img {
}

@media (max-width: 1104px){
  .footer__social {
    gap: 100px;
    justify-content: left;
    display: flex;
  }
}

@media (max-width: 852px){
  .footer__contacts {
    flex-direction: column;
    gap: 0px;
    padding: 2px 0;
    width: 340px;
  }
  .footer__text_yellow {
    font-size: 20px;
    line-height: 25.26px;
    margin-bottom: 0px;
    padding: 15px 0;
  }
  .footer__inner {
    min-height: 50px;
    min-width: 50px;
  }
  .footer__text {
    font-size: 19px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.2em;
  }
  .footer__title {
    font-size: 30px;
    letter-spacing: 0.3em;}
    .footer__num{
      font-size: 18px;
    }
    
}
@media (max-width: 659px){
  .footer__social {
    gap: 100px;
  }
  .footer__title {
    font-size: 25px;}
    .footer__rov {
      padding: 20px 0;
    }
    .footer__text {
      font-size: 16px;
      line-height: 23.26px;
      
    }
    .footer__text_yellow {
      font-size: 16px;
      line-height: 20.26px;
      margin-bottom: 0px;
      padding: 15px 0;
    }
}
@media (max-width: 425px){
  .footer__social {
    gap: 40px;
  }
  .footer__contacts {
    flex-direction: column;
    gap: 0px;
    padding: 2px 0;
    width: 220px;
  }
}