.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.footer__rov {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  .footer__title {
    font-family: Polonium;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.3em;
  }
.footer__inner {
  min-height: 100px;
  min-width: 500px;
}
.footer__text {
    margin-bottom: 20px;
    min-width: 683px;
    width: 10px;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    letter-spacing: 0.2em;
  }

.footer__text_yellow {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: 0.3em;
  width: 0px;
  margin-bottom: 20px;
  min-width: 783px;

  padding: 20px 0;
}
.yellow_die_text {
  background-image: url(../image/линия.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  backdrop-filter: blur(100px);
}


.footer__contacts {
}
.footer__social {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  gap: 200px;
}
.footer__social_item {
}

.footer__social_link {
}

.footer__social_img {
}
